* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);
}

.header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.user-img {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active {
    background-color: #ebebeb;
}

.chat-list__item.unread .item-content__header .time {
    color: #06d755;
}
