/* Primary Content */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Header */
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
  margin-bottom: 96px;
}

.header-title {
  font-size: 2.75em;
  margin-bottom: 32px;
  line-height: 1.1;
  letter-spacing: -1px;
}

.header-description {
  font-size: 1.125em;
  line-height: 1.7;
  font-weight: 300;
  margin-bottom: 24px;
}

section {
  margin-bottom: 96px;
}

img {
  width: 100%;
  border-radius: 12px;
}

/* Section 1 */
h2 {
  font-size: 2.25em;
  letter-spacing: -0.5px;
  margin-bottom: 48px;
}

.btn {
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #087f5b;
  border: none;
  border-radius: 100px;
}

.btn:hover {
  background-color: #099268;
  cursor: pointer;
}

.btn--big {
  font-size: 1.125em;
  padding: 16px 32px;
}

.btn--small {
  font-size: 0.875em;
  padding: 8px 12px;
}

.features-icon {
  width: 32px;
  color: #087f5b;
  margin-bottom: 24px;
}

.features-title {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 16px;
}

.features-text {
  font-size: 1.125em;
  line-height: 1.7;
}

/* Section 2 */
.testimonial-section {
  background-color: #087f5b;
  color: #fff;
  padding: 24px;
  border-radius: 12px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  font-size: 1.5em;
  margin-bottom: 24px;
}

.testimonial-text {
  font-size: 1.125em;
  line-height: 1.7;
  font-style: oblique;
  margin-bottom: 24px;
}

.testimonial-author {
  color: #c3fae8;
}

/* Section 3 */
.chair {
  box-shadow: 0 20px 30px 0 rgb(0, 0, 0, 0.1);
  border-radius: 12px;
}

.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chair-box {
  padding: 32px;
}

.chair-box h3 {
  font-size: 1.25em;
  margin-bottom: 24px;
}

.chair-details {
  list-style: none;
  font-size: 1em;
  margin-bottom: 48px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.chair-icon {
  width: 24px;
}

.chair-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chair-price .price {
  font-size: 1.25em;
}

footer {
  font-size: 0.875em;
  font-weight: 300;
  margin-bottom: 48px;
}
